<section class="content-block">
    <div class="block-header bg-dark">
        <span>📝 [EXAM_TITLE]</span>
    </div>
    <div class="block-body">
        <div class="exam-question mb-0 border-none pb-0">
            <p class="m-0 mb-2mm">
                [QUESTION_TEXT]
            </p>
            <!-- Answer Box 1 -->
            <div class="border-light h-8mm bg-grey-lighter rounded"></div>

            <p class="m-0 mb-2mm mt-2mm">
                [QUESTION_TEXT_2]
            </p>
             <!-- Answer Box 2 -->
            <div class="border-light h-8mm bg-grey-lighter rounded"></div>
        </div>
    </div>
</section>