<section class="content-block" id="[BLOCK_ID]">
    <div class="block-header bg-dark">
        <span>📝 اخْتَبِرْ نَفْسَكَ ([TOPIC])</span>
    </div>
    <div class="block-body">
        <!-- Question 1 -->
        <div class="exam-question" id="[Q1_ID]">
            <p class="m-0 mb-2mm">
                <span class="exam-number">1</span>
                [QUESTION_TEXT]
            </p>
            <div class="border-light h-8mm bg-grey-lighter rounded"></div>
        </div>

        <!-- Question 2 (Last Item: Remove border/margin) -->
        <div class="exam-question mb-0 border-none pb-0" id="[Q2_ID]">
            <p class="m-0 mb-2mm">
                <span class="exam-number">2</span>
                [QUESTION_TEXT]
            </p>
            <div class="border-light h-8mm bg-grey-lighter rounded"></div>
        </div>
    </div>
</section>
