<section class="split-grid">
    <div class="content-block" id="[UNIQUE_ID_1]">
        <div class="block-header">
            <span>[COLUMN_1_TITLE]</span>
        </div>
        <div class="block-body">
            [COLUMN_1_CONTENT]
        </div>
    </div>
    <div class="content-block" id="[UNIQUE_ID_2]">
        <div class="block-header">
            <span>[COLUMN_2_TITLE]</span>
        </div>
        <div class="block-body">
            [COLUMN_2_CONTENT]
        </div>
    </div>
</section>